<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvIIIBd3YVA3Bvz8yRuMoh739W0WJ_kOw</string>
	<key>GCM_SENDER_ID</key>
	<string>628743363909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SIH2024</string>
	<key>PROJECT_ID</key>
	<string>sih-2024-43192</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-2024-43192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628743363909:ios:76916b2c4141b209f3322c</string>
</dict>
</plist>